// fonts
$font-main: 'WaltographRegular';
$font-weight: normal;
$font-style: normal;

// colors
$color-bg: #9acaf9;
$color-favourites: #f583a1;
$color-title: rgba(211, 211, 230, 0.881);
$color-white: white;
$color-black: black;