<main class="main">
  <form class="main__form js__form">
    <label class="main__form__label" for="characterSearch">
      <input class="main__form__input js__inputSearch" type="text" placeholder="Search the name of yours favorites characters, ex: Ahadi" name="character" id="character">
    </label>
    <input class="main__form__btn js__btnSearch" type="submit" value="SEARCH">
    <input class="js_btnLOG" type= "submit" value="LOG"/>
  </form>
  <div class="main__container">
    <section class="section__favourites">
      <div class="section__favourites__icon">
        <img class="section__favourites__icon__bin js__binfavourites" src="./images/bin.png" alt="bin">
      </div>
      <h2 class="section__favourites__h2">Favourites</h2>
      <ul class="section__favourites__ul js__ulFavourites"></ul>
    </section>
    <section class="section__characters">
      <h2 class="section__characters__h2">Disney Characters</h2>
      <ul class="section__characters__ul js__ulCharacters"></ul>
    </section>
  </div>
</main>
